* {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem;
}

.container-header a {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 2rem;
  color: black;
}

.menu a {
  color: #140707;
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: rgb(255, 255, 255);
  border: 3px solid #140707;
  padding: 0.7rem;
  border-radius: 8px;
}

.book-an-appointment-button a {
  display: flex;
  margin: 20px;
  color: #f3f3f3;
  background-color: #140707;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.see-our-bundles-button a {
  margin: 20px 0 20px 15px;
  display: flex;
  color: black;
  border-color: #140707;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  border: 2px solid #140707;
}

.logo h1 {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin: 50px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container-hero {
  padding: 60px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.hero-left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  max-width: 50%;
}

.title-1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
  margin-left: -1%;
}

.btn-login {
  color: white !important;
  background-color: #140707;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.subtitle p {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.hero-img {
  margin-top: -10%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 5%;
}

.hero-img2 {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 5%;
}

.descriptions {
  font-size: 1.1rem;
  width: 100%;
  max-width: 550px;
  margin-top: -10%;
  margin-left: auto;
  margin-right: 5%;
  text-align: right;
}

.desc-title {
  font-size: 50px;
  font-weight: bolder;
  text-align: right;
}
